<!-- ENTETE -->
<div class="ui attached message">
    <div class="ui large breadcrumb">
        <div class="section ">
            <i class="ui large file alternate outline red icon"></i>
        </div>
        {{ $breadcrumbs := BeeSplitBreadcrumb .File}}
        {{ range $breadcrumb := $breadcrumbs}}
        <i class="right chevron icon divider"></i>
        {{ if $breadcrumb.IsLast }}
        <div class="section"><span class="ui large text">{{$breadcrumb.Base}}</span></div>
        {{else}}
        <div class="section">{{$breadcrumb.Base}}</div>
        {{end}}
        {{end}}
    </div>
</div>
<form class="ui form attached segment" style="padding: 0;" method="POST" action="/document{{.File}}">
    {{ .xsrfdata }}
    <textarea id="bee-editor" name="document" id="document">{{.Record.Content}}</textarea>
    {{ if .Record.Action }}
    <div class="field">
        <div class="ui action input">
            <button class="ui red button bee-modal-confirm" data-action="/action/{{.Record.Action}}"
                title="{{.Record.Action}}" data-message="Veuillez confirmer le démarrage de l'action">
                <i class="play circle outline icon"></i>
                {{.Record.Action}}
            </button>
        </div>
    </div>
    {{end}}
</form>