<!-- ENTETE -->
<div class="ui attached message">
    <div class="ui large breadcrumb">
        <div class="section ">
            <i class="ui large file alternate outline red icon"></i>
        </div>
        {{ $breadcrumbs := BeeSplitBreadcrumb .File}}
        {{ range $breadcrumb := $breadcrumbs}}
        <i class="right chevron icon divider"></i>
        {{ if $breadcrumb.IsLast }}
        <div class="section"><span class="ui large text">{{$breadcrumb.Base}}</span></div>
        {{else}}
        <div class="section">{{$breadcrumb.Base}}</div>
        {{end}}
        {{end}}
    </div>
</div>
<form class="ui form attached segment" style="padding: 0;" method="POST" action="/victor/document{{.File}}">
    {{ .xsrfdata }}
    <textarea id="bee-editor" data-mode={{.Record.Mode}} name="document" id="document">{{.Record.Content}}</textarea>
</form>