<!-- _foot.html -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- https://fomantic-ui.com/introduction/getting-started.html -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>
<!-- https://github.com/js-cookie/js-cookie -->
<script defer type="module" src="/static/js/js.cookie.min.js"></script>
<!-- ImageEditor https://github.com/scaleflex/filerobot-image-editor -->
<script src="https://cdn.scaleflex.it/plugins/filerobot-image-editor/3.12.11/filerobot-image-editor.min.js"></script>
<!--  Ace Editor https://github.com/ajaxorg/ace -->
<script defer src="/static/js/ace/ace.js"></script>
<script defer src="/static/js/ace/ext-modelist.js"></script>
<!-- Custom Bee -->
<script defer src="/static/js/bee_script.js"></script>