<!-- _foot.html -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- https://fomantic-ui.com/introduction/getting-started.html -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>
<!-- https://github.com/ngryman/jquery.finger -->
<script defer type="module" src="/static/js/jquery.finger.min.js"></script>
<!-- ImageEditor https://github.com/scaleflex/filerobot-image-editor -->
<script src="https://cdn.scaleflex.it/plugins/filerobot-image-editor/3.12.11/filerobot-image-editor.min.js"></script>
<!-- CodeMirror https://codemirror.net/doc/manual.html -->
<script defer src="/static/codemirror/lib/codemirror.js"></script>
<script defer src="/static/codemirror/addon/mode/overlay.js"></script>
<script defer src="/static/codemirror/addon/mode/simple.js"></script>
<script defer src="/static/codemirror/addon/edit/trailingspace.js"></script>

<script defer src="/static/codemirror/mode/css/css.js"></script>
<script defer src="/static/codemirror/mode/dockerfile/dockerfile.js"></script>
<script defer src="/static/codemirror/mode/gfm/gfm.js"></script>
<script defer src="/static/codemirror/mode/go/go.js"></script>
<script defer src="/static/codemirror/mode/javascript/javascript.js"></script>
<script defer src="/static/codemirror/mode/markdown/markdown.js"></script>
<script defer src="/static/codemirror/mode/properties/properties.js"></script>
<script defer src="/static/codemirror/mode/python/python.js"></script>
<script defer src="/static/codemirror/mode/shell/shell.js"></script>
<script defer src="/static/codemirror/mode/sql/sql.js"></script>
<script defer src="/static/codemirror/mode/toml/toml.js"></script>
<script defer src="/static/codemirror/mode/yaml/yaml.js"></script>
<script defer src="/static/codemirror/mode/yaml-frontmatter/yaml-frontmatter.js"></script>
<!-- https://github.com/jgraph/drawio-integration -->
<script defer src="/static/drawio/diagram-editor.js"></script>
<!-- https://github.com/kanety/jquery-simple-upload -->
<script defer src="/static/jquery-simple-upload/dist/jquery-simple-upload.js"></script>
<!-- Custom Bee -->
<script defer src="/static/js/bee_script.js"></script>