{{ template "_navbar_file.html" .}}
<!-- Formulaire d'Edition -->
<form class="ui form attached segment" method="POST" action="/image{{.File}}">
    {{ .xsrfdata }}
    <div class="ui form">
        <section class="ui cards">
            <div class="ui centered card" style="width:unset;">
                <div class="image">
                    <img src="/content{{.File}}?{{.Composter}}">
                </div>
                <div class="ui bottom attached button bee-popup-image-editor"
                    data-src="/content{{.File}}">
                    <i class="edit icon"></i>
                    Modifier l'image
                </div>
            </div>
        </section>
    </div>
    <input type="hidden" name="image" value="">
</form>