<div class="ui large breadcrumb">
	<a class="section " data-action="/" data-action="open" href="/">
		<i class="ui large home icon open"></i></a>
	{{ $breadcrumbs := BeeSplitBreadcrumb .Folder}}
	{{ range $breadcrumb := $breadcrumbs}}
	<i class="right chevron icon divider"></i>
	{{ if $breadcrumb.IsLast }}
	<div class="section">{{$breadcrumb.Base}}</div>
	{{else}}
	<a class="section" href="/folder{{$breadcrumb.Path}}">{{$breadcrumb.Base}}</a>
	{{end}}
	{{end}}
</div>
<div class="ui secondary stackable menu">
	<div class="right menu">
		<div class="item">
			<div class="ui basic small buttons bee-hidden">
				<div class="ui icon button bee-button-edit" title="Éditer...">
					<i class="edit outline icon"></i>
				</div>
				<div class="ui icon button bee-modal-rename" data-action="/mv{{.File}}" title="Renommer...">
					<i class="pencil alternate icon"></i>
				</div>
				<div class="ui icon button bee-modal-move" data-action="/cp{{.File}}" title="Copier...">
					<i class="copy outline icon"></i>
				</div>
				<div class="ui icon button bee-modal-move" data-action="/mv{{.File}}" title="Déplacer...">
					<i class="arrow right icon"></i>
				</div>
				<div class="ui icon button bee-modal-confirm" data-action="/rm{{.File}}" title="Supprimer...">
					<i class="trash alternate outline icon"></i>
				</div>
				<div class="ui icon button" data-action="/download{{.Folder}}" title="Télécharger...">
					<i class="download icon"></i>
				</div>
			</div>
		</div>
	</div>
</div>
