<!DOCTYPE html>
<html>
{{template "_head.html" .}}

<body>
<h1>DOCUMENT</h1>
  <!-- CONTEXTE PAGE -->
  <div>
    <!-- action update by .bee-submit-->
    <input type="hidden" id="victor-folder" name="victor-folder" value="{{.Folder}}">
    <input type="hidden" id="victor-file" name="victor-file" value="{{.File}}">
    <!-- update by bee-click -->
    <input type="hidden" id="bee-action" name="bee-action" value>
    <input type="hidden" id="bee-base" name="bee-base" value>
  </div>

  {{template "_foot.html" .}}
</body>

</html>