<!-- home.html -->
<!DOCTYPE html>
<html>
{{template "_head.html" .}}

<body>
  <!-- MENU HORIZONTAL FIXED -->
  <div class="ui top fixed menu" style="background-color: #f9fafb;">
    <div class="ui container">
      <a href="/" class="header item">
        <img class="logo" src="{{.Config.Icon}}">
        {{.Config.Title}}
      </a>
    </div>
  </div>
  <!-- MAIN -->
  <main>
    <!-- <div class="ui container"> -->
    <div class="ui two column stackable grid">
      <div class="ui vertical divider"><i class="arrows alternate horizontal icon"></i></div>
      <div class="row">
        <!-- FOLDER AND FILES -->
        {{template "_folder.html" .}}
        <!-- DOCUMENT -->
        {{ if or (eq .Ext ".png") (eq .Ext ".jpg") (eq .Ext ".svg")}}
        {{template "_image.html" .}}
        {{ else if (eq .Ext ".pdf")}}
        {{template "_pdf.html" .}}
        {{ else if (eq .Ext ".yaml")}}
        {{template "_document.html" .}}
        {{ else if (eq .Ext ".md")}}
        {{template "_document.html" .}}
        {{ else }}
        {{template "_document.html" .}}
        {{ end }}
      </div>
    </div>
    <!-- </div> -->
  </main>
  <!-- Modal Nouveau Nom -->
  <div id="bee-modal-rename" class="ui tiny modal">
    <div class="header">à venir</div>
    <div class="content">
      <form class="ui form" methode="POST" action="a venir">
        {{ .xsrfdata }}
        <div class="required field">
          <label>Nouveau nom</label>
          <input type="text" id="new-name" name="new-name" placeholder="Nouveau nom" value="a venir">
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui cancel button">Annuler</div>
      <div class="ui approve button">Valider</div>
    </div>
  </div>
  <!-- Modal Confirmation Action -->
  <div id="bee-modal-confirm" class="ui tiny modal">
    <div class="header">à venir</div>
    <div class="content">
      <form class="ui form" methode="POST" action="a venir">
        {{ .xsrfdata }}
        <div class="ui message">
          <div class="header">
            à venir
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui cancel button">Annuler</div>
      <div class="ui approve button">Je confirme</div>
    </div>
  </div>
  <!-- Modal Déplacer -->
  <div id="bee-modal-move" class="ui tiny modal">
    <div class="header">à venir</div>
    <div class="content">
      <form class="ui form" methode="POST" action="a venir">
        {{ .xsrfdata }}
        <div class="field">
          <label>De</label>
          <div class="ui message">
            <div class="header">
              à venir
            </div>
          </div>
        </div>
        <div class="required field">
          <label>Vers</label>
           <select id="bee-ajax-folders" name="new-name" class="ui selection dropdown">
          </select>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui cancel button">Annuler</div>
      <div class="ui approve button">Je confirme</div>
    </div>
  </div>

  <!-- CONTEXTE PAGE -->
  <div>
    <!-- action update by .bee-submit-->
    <input type="hidden" id="victor-folder" name="victor-folder" value="{{.Folder}}">
    <input type="hidden" id="victor-file" name="victor-file" value="{{.File}}">
    <!-- update by bee-click -->
    <input type="hidden" id="bee-path" name="bee-path" value>
    <input type="hidden" id="bee-base" name="bee-base" value>
  </div>

  {{template "_foot.html" .}}
  <script>
    $(document).ready(function () {
      // ace.config.set("basePath", "./files/ace");
      var editor = ace.edit("ace_editor");
      // aff de l'éditeur
      editor.container.style.opacity = "";
      // def du language
      editor.session.setMode("ace/mode/html");
      // editor.setAutoScrollEditorIntoView(true);
      // hauteur 
      editor.setOption("maxLines", 100);
      editor.setOption("theme", 'ace/theme/eclipse');
      // taille font
      document.getElementById('ace_editor').style.fontSize = '13px';
      editor.session.setUseWrapMode(true);
      editor.session.setTabSize(2);
      editor.setShowPrintMargin(false);
      editor.setReadOnly(false);

    });
  </script>
</body>

</html>