<!-- home.html -->
<!DOCTYPE html>
<html>
{{template "_head.html" .}}

<body>
  <!-- MENU HORIZONTAL FIXED -->
  <div class="ui top fixed menu" style="background-color: #f9fafb;">
    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo" src="{{.Config.Icon}}">
        {{.Config.Title}}
      </a>
    </div>
  </div>
  <!-- MAIN -->
  <main>
    <nav style="float: left; width: 40%;">
      <iframe width="100%" height="700" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=-0.2463340759277344%2C46.39587420694733%2C-0.18861293792724612%2C46.4181269864222&amp;layer=mapnik"
        style="border: 1px solid black"></iframe>
    </nav>
    <section style="float: left;">
      <iframe id="Example2" title="Example2" width="100%" height="300" style="border: none"
        src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es-419&amp;geocode=&amp;q=buenos+aires&amp;sll=37.0625,-95.677068&amp;sspn=38.638819,80.859375&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Buenos+Aires,+Argentina&amp;z=11&amp;ll=-34.603723,-58.381593&amp;output=embed">
      </iframe>
    </section>
  </main>
  {{template "_foot.html" .}}
</body>

</html>