
/* BEE STYLES.CSS */

/*******************************
             Global
*******************************/

/* TOP MENU */
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
/* MAIN */
main {
    flex: 1;
    margin-top: 6em;
    margin-bottom: 1em;
}

/* Mobile */
@media only screen and (max-width: 820px) {
    .bee-desktop {
        display: none !important;
    }
}
/* Desktop */
@media only screen and (min-width: 821px) {
    .bee-mobile {
        display: none !important;
    }    
}  
